<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>High Scores</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div id="high-scores">
    <h1>High Scores</h1>
    <table id="scores-table">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button id="back-to-game">Back to Game</button>
</div>
<script type="module" src="/js/scores.js"></script>
</body>
</html>
